.row
  .large-12.columns
    %h1 Welcome to Record Label
.row
  .large-12.columns
    %h3 ActiveRecord / SQL Example 
    .panel= ActiveRecord::Base.connection_config
    .panel= @sql
    %h3 Query Results
    %table
      %thead
        %tr
          %th ID
          %th Band
          %th Albums
      - @rows.each do |row|
        %tr
          %td= row[0]  
          %td= row[1]  
          %td= row[2]  
